<div class="sidebar {{ include.sidebarClassName }}" id="sidebar1">

  <div class="row">
  <ul class="list-group pt-5">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for page in sorted_pages %}
    {% if page.title and page.order >= 0 %}
    <li class="list-group-item rb-main-sidebar">
      <a href="{{ page.url | relative_url }}" class="sidebar__link__darkGray {% if page.url == "/" %}never-active{% endif %}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  </div>
{% assign levels = "platinum,gold" | split: ',' %}
{% assign sponsors = ""|split: "" %}
{% for level in levels %}
{% assign sponsors = sponsors | concat: site.data.sponsors[level] %}
{% endfor %}
{% if sponsors.size != 0 %}
<div class="row sponsors d-none d-md-block">
<div class="fixed-bottom">
    {% for x in sponsors %}
    <div class="col-md-2 col-sm-3 mb-2 p-2">
        <div class="card text-center">
            <a href="{{ x.url }}" name="{{ x.name }}">
                <img class="px-1 py-2" src="{{ x.logo | prepend: "/assets/images/sponsors/" | relative_url }}" alt="{{ x.name }}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endif %}
</div>
